    *{
    	margin: 2px;
    	padding: 2px;
    	box-sizing: border-box;
    	overflow: hidden;
    }
    body{
    	font-size: 16px;
    	background-color: black;
    	color: white;
    }
    #main{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    p{
    	margin-bottom:15px ;
    	font-family: arial,sans-serif;
    }
    details{
    	width: 100%;
    	font-family:sans-serif;
    	border:2px solid violet ;
    	padding:2px;
    	margin: 8px;
    }
    details p{
    	padding: 1px;
    	color:blue ;
    	background-color: white;
    }
    summary{
    	padding: 20px;
    	border:1px solid blue ;
    	outline: none;
    	cursor: pointer;
    }
    section{
    	max-width: 90%;
    	width: 100%;
    }
    h3{
        margin: 10px;
    }
   	#image {
        border-radius: 50%;
        border:2px solid skyblue;
    }
    .container{
        height: 210px;
        width: 330px;
        margin: auto;
        display: block;
        text-align: center;
        border-style:dotted;
}
h1{
    color: offwhite;
}
b{
    color: violet;
}
.container img{
    transition: 0.9s ease-in-out;
}
.container img:hover{
    transform: scale(1.2);
} 
button{
    background-color: blue;
}
a {
    background-color:yellow;
    font-size: 20px;
}
.link:hover{
    color: red;
}